<!doctype html>
<html class="no-js" lang="">
   <head>
      <meta charset="utf-8">
      <title>:: Characters Meet ::</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <link href="favicon.ico" rel="icon" type="image/x-icon" />
      <link rel="stylesheet" href="assets/css/bootstrap.min.css">
      <link rel="stylesheet" href="assets/css/plugins.css">
      <link rel="stylesheet" href="assets/css/main.css">
      <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
   </head>
   <body>
      <div class="ads hidden-xs">
         <div class="container"> 
            <a><img src="assets/img/ads.jpg" alt=""></a>
         </div>
      </div><!-- #BeginLibraryItem "/Library/header-beforelogin.lbi" -->
<header class="header">
  <div data-role="sticky">
    <div class="advance-search">
      <div class="search-action">
        <div class="container">
          <div class="input-group input-group-lg ">
            <div class="relative input-group-lg">
              <input type="text" class="form-control" placeholder="Batman">
              <a class="clear-input">Clear</a> </div>
            <div class="input-group-btn dropdown">
              <button type="button" class="btn btn-default showText dropdown-toggle input-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Costumes <span class="caret"></span> </button>
              <ul class="dropdown-menu dropdown-menu-right dropdown-slected">
                <li><a>Costumes</a></li>
                <li><a>Gallery</a></li>
                <li><a>What &acute;s New</a></li>
                <li><a>Groups</a></li>
                <li><a>Users</a></li>
              </ul>
              <button type="button" class="btn btn-orange hidden-xs" onclick="location.href='../html/search-costumes.html'">SEARCH</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header"> <a class="navbar-brand" href="index.html"><img alt="Brand" src="assets/img/logo.svg" class="svg"></a> </div>
        <div class="navbar-user" data-toggle="userDropdown">
          <button type="button" class="navbar-toggle visible-xs"><i class="mdi md-20 mdi-dots-vertical"></i></button>
          <a data-toggle="advanceSearch" class="search-icon"><i class="mdi md-24 mdi-magnify"></i></a>
          <ul class="nav navbar-nav user-nav dropdownlogin">
            <li><a data-target="#loginModal" data-toggle="modal"><i class="md-18 mdi mdi-import"></i><span>Login</span></a></li>
            <li><a href="signup.html"><i class="md-18 mdi mdi-plus-circle"></i><span>Join</span></a></li>
          </ul>
        </div>
        <div class="navbar-link">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="whatsNew.html">What’s New</a></li>
              <li><a href="activity-stream.html">Discussions</a></li>
              <li><a  href="costumes.html">Costumes</a></li>
              <li><a href="events.html">Events</a></li>
              <li class="dropdown sub-navbar"><a class="dropdown-toggle" data-toggle="dropdown">More <span class="caret"></span></a>
               <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="art-gallery.html">Art Gallery</a></li>
                <li><a href="novel.html">Graphic Novel</a></li>
                <li><a href="gallery.html">Media</a></li>                
               </ul>
              </li>
            </ul>
          </div>
          <!--/.navbar-collapse --> 
        </div>
      </div>
    </nav>
  </div>
</header>
<!-- #EndLibraryItem --><section class="main-section" data-height="fullheight">
   <div class="page-content">
    <section  id="mediaPopup"  data-ng-controller="mediapopupController">
      <div class="mediaPopup-slide">
        <div class="container">
          <div class="media-left-content">
          	<div class="table-row-info-view">
              <div class="media-info">
                <div class="user-thmb-th pull-left hidden-xs"><img ng-src="assets/img/{{ownerThumb}}" alt=""> </div>
                <div class="media-detail">
                  <a class="hidden-xs">{{postedUser}}</a><span class="dotsep hidden-xs">.</span><label>My Album</label>  <span>{{currentPicIndex+1}} of {{GallarySize}}</span>
                </div>
              </div>
            </div>
            <div class="table-row-img-view">
              <div class="media-img-view">
                <div class="image-content">
                  <!-- <i class="icon-th-close" data-dismiss="modal"></i>
                    <i class="icon-th-fullscreen hidden-xs" data-ng-click="toggleFullScreen();"></i> -->
                  <i class="icon-th-next" ng-click="ViewNext();"></i>
                  <i class="icon-th-prev" ng-click="ViewPrev();"></i> 
                  <div class="medea-image">
                    <img ng-src="assets/img/lightbox/{{postedPic}}" alt="">
                  </div>
                </div>
              </div>
            </div>            
          </div>
        </div>
      </div>
      <div class="mediaPopup-content">
        <div class="container">
        <div class="row">
          <div class="col-md-8">
          <div class="media-right-content" data-type="write-comment">
            <div class="post-region" data-type="postRegion">
              <div class="post-view">
                <ul class="listing">
                  <li>
                    <a class="avtar-48"><img ng-src="assets/img/{{ownerThumb}}" alt=""> </a>
                    <div class="user-name"><a class="semi-bold">{{postedUser}}</a> tagged <a class="semi-bold">Miranda Care</a></div>
                    <div class="time-and-privacy">
                      <ul class="list-sub-nav">
                        <li><span class="time-ago">{{timePosted}}</span> </li>
                        <li>
                          <div class="btn-group custom-icondrop ">
                            <a class="dropdown-toggle drop-icon" data-toggle="dropdown"> 
                            <i class="mdi mdi-account-multiple md-20 md-dark"></i><span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-withicons dropdown-menu-right" role="menu">
                              <li><a>Everyone</a></li>
                              <li><a>Adult Only</a></li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
                <div class="post-content-view">
                  <p>{{postedContent}}</p>
                  <div><a>@Amit Hinduja</a></div>
                </div>
                <div class="tag">
                  <ul class="tag-list">
                    <li class="tag-category"><span>Batman</span></li>
                    <li class="tag-category"><span>Tomboy</span></li>
                  </ul>
                </div>
                <ul class="count-list-withIcn">
                  <li class="item">  
                    <a class="selected" data-target="#loginModal" data-toggle="modal">
                    <i class="mdi mdi-eye"></i>
                    <span class="title">200</span>
                    </a>
                  </li>
                  <li class="item">  
                    <a data-target="#loginModal" data-toggle="modal">
                    <i class="mdi mdi-thumb-up"></i>
                    <span class="title">500</span>
                    </a>
                  </li>
                  <li class="item">  
                    <a data-target="#loginModal" data-toggle="modal">
                    <i class="mdi mdi-thumb-down"></i>
                    <span class="title">05</span>
                    </a>
                  </li>
                  <li class="item">  
                    <a data-target="#loginModal" data-toggle="modal">
                    <i class="mdi mdi-comment-processing"></i>
                    <span class="title">100</span>
                    </a>
                  </li>
                  <li class="item"><a data-target="#loginModal" data-toggle="modal"><i class="mdi mdi-heart"></i></a></li>
                  <li class="item">  
                    <a data-target="#loginModal" data-toggle="modal"><i class="mdi mdi-share-variant"></i></a>
                  </li>
                  <li class="item">  
                    <a data-target="#loginModal" data-toggle="modal">
                    <i class="mdi mdi-flag"></i>
                    <span class="title hide">Report Abuse</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="people-like-this">
                <i class="mdi mdi-thumb-up md-18"></i><a>Rupal Juneja</a> and <a>40 others</a>
              </div>
              <div class="view-comment">
                <div class="view-all-comment" ng-if="commentList.length >= 20"><a>View all {{commentList.length}} comments</a></div>
                <div class="comment-listing">
                  <ul class="listing">
                    <li  ng-repeat="comment in commentList track by $index">
                      <a class="avtar-48"><img ng-src="assets/img/{{comment.userThmb}}" alt=""> </a>
                      <div class="user-name">
                        <a class="semi-bold">{{comment.userName}}</a> {{comment.commentView}}
                      </div>
                      <div class="media-post" style="display:none;"><img src="assets/img/post-dummy.jpg" alt=""> </div>
                      <div class="time-and-privacy">
                        <ul class="list-sub-nav">
                          <li><span class="time-ago">{{comment.commentTime}}</span> </li>
                          <li><a>Like</a></li>
                          <li><i class="mdi mdi-thumb-up md-16"></i> <span class="color-light">50</span></li>
                        </ul>
                      </div>
                      <a href="javascript:void(0);" class="delete-current-post" ng-click="DeleteComment($index)"><i class="mdi mdi-close"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="post-view-footer" data-type="write-footer">
              <div class="post-write-block">
                <div class="write-comment">
                  <textarea name="write-comment" data-type="autoSize" class="auto-size" placeholder="Write Comment" ng-model="chatMessage" 
                    ng-keypress="($event.which === 13)?sendMessage():0; mediaRightcommentscrl();"  ></textarea>
                </div>
                <div class="upload-media-in-comment">
                  <i class="md-28 mdi mdi-camera" onClick="$('.attached-post').show(); $('.upload-media-in-comment').hide();"><input type="file"></i>
                </div>
                <div class="attached-post" style="display:none;">
                  <i class="mdi md-14 mdi-close"></i>
                  <img src="assets/img/post-dummy.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
          </div>
          <div class="col-md-4 hidden-xs hidden-sm">
             <aside class="ads">
                <a><img src="assets/img/ads-right.jpg" alt=""></a>
             </aside>
          </div>
        </div>
        </div>
      </div>

    </section>   
   </div>
</section>
<div class="ads">
   <div class="container"> 
      <a><img src="assets/img/ads.jpg" alt=""></a>
   </div>
</div><!-- #BeginLibraryItem "/Library/footer.lbi" -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <ul class="nav nav-pills">
          <li><a href="about-us.html"> About Us </a></li>
          <li><a href="privacypolicy.html"> Privacy Policy </a></li>
          <li><a href="contact.html"> Contact Us </a></li>
        </ul>
      </div>
      <div class="col-md-5">
        <ul class="social-icons">
          <li><a class="md-light md-18 mdi mdi-facebook"></a></li>
          <li><a class="md-light md-18 mdi mdi-twitter"></a></li>
          <li><a class="md-light md-18 mdi mdi-google-plus"></a></li>
          <li><a class="md-light md-18 mdi mdi-linkedin"></a></li>
          <li><a class="md-light md-18 mdi mdi-pinterest"></a></li>
          <li><a class="md-light md-18 mdi mdi-youtube-play"></a></li>
          <li><a class="md-light md-18 mdi mdi-instagram"></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7"><span class="copyright">Copyright 2015 All Rights Resrved</span></div>
    </div>
  </div>
</footer>
<!-- #EndLibraryItem --><!-- Login - Modal -->
<div id="loginModal" class="modal fade flip-animation" data-modal="middle" role="dialog">
   <div class="modal-dialog modal-lg">
      <button type="button" class="close" data-dismiss="modal">
      <i class="mdi mdi-close md-30" aria-hidden="true"></i>
      </button>
      <div class="modal-content clearfix">
         <div class="modal-body pad0">
            <div class="poster hidden-xs">
               <div class="content">
                  <a href="extrapages/index.html">
                  <img alt="Brand" src="assets/img/logo.svg">
                  </a>
               </div>
            </div>
            <div class="form-body">
            <div class="flipContainer">
               <div id="loginForm" class="login flip-panel">
                  <div class="form">
                     <h2 class="form-section">Login</h2>
                     <div class="row">
                        <div class="col-sm-12">
                           <div class="form-group">
                              <label class="control-label">CHARACTER NAME</label>
                              <div class="form-field">
                                 <input type="text" class="form-control white" id="chrName">
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-12">
                           <div class="form-group marb15">
                              <label class="control-label">PASSWORD</label>
                              <div class="form-field">
                                 <input type="password" class="form-control white" id="loginpassword">     
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-sm-7 col-xs-7 xs-padding-right-0">
                           <div class="form-group has-error font-sm">
                              <div class="checkbox">
                                 <label>
                                 <input type="checkbox" name="LogIn" value="LogIn" id="logIn">
                                 Keep Me Logged In
                                 </label>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-5 col-xs-5 xs-padding-left-0">
                           <div class="form-group text-right font-sm">
                              <a class="link-text flipLink" data-rel="forgotForm" >Forgot Password ?</a>
                           </div>
                        </div>
                     </div>
                     <div class="row form-actions right">
                        <aside class="col-sm-push-8 col-sm-4 col-xs-push-0">
                           <a class="btn btn-orange btn-block loading"> <i class="loader"></i> Login</a>
                        </aside>
                        <aside class="col-sm-pull-4 col-sm-8 col-xs-pull-0 text-link secondary-text font-sm">
                           Don’t have an account ? <a class="link-text" href="signup.html">Join</a>
                        </aside>
                     </div>
                  </div>
               </div>
               <div id="forgotForm" class="forgot flip-panel flipHide">
                  <div class="form">
                     <h2 class="form-section">Forgot Password</h2>
                     <div class="row">
                        <div class="col-sm-12">
                           <div class="form-group">
                              <label class="control-label">EMAIL</label>
                              <div class="form-field">
                                 <input type="email" class="form-control white" id="forgotemail">
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row form-actions right">
                        <aside class="col-xs-8 col-sm-8 text-link">
                           <a class="flipLink font-sm" data-rel="loginForm">Back</a>
                        </aside>
                        <aside class="col-xs-4 col-sm-4">
                           <a class="btn btn-orange btn-block">Send</a>
                        </aside>
                     </div>
                  </div>
               </div>
            </div>
            </div>
         </div>
      </div>
   </div>
</div>

      <script src="assets/js/vendor/jquery-1.11.2.min.js"></script>
      <script src="assets/js/vendor/bootstrap.min.js"></script>
      <script src="assets/lib/angular.min.js"></script> 
      <script src="assets/js/chosen-min.js"></script> 
      <script src="assets/js/mCustomScrollbar.js"></script> 
      <script src="assets/js/plugins.js"></script> 
      <script src="assets/js/main.js"></script>

      <!--ApplicationJS--> 
      <script src="assets/app/app.js"></script> 
      <script src="assets/app/mediaPopup.js"></script>   
   </body>
</html>