<!doctype html>
<html class="no-js" lang="">
   <head>
      <meta charset="utf-8">
      <title>:: Characters Meet ::</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <link href="favicon.ico" rel="icon" type="image/x-icon" />
      <link rel="stylesheet" href="assets/css/bootstrap.min.css">
      <link rel="stylesheet" href="assets/css/plugins.css">
      <link rel="stylesheet" href="assets/css/main.css">
      <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
   </head>
   <body>
      <div class="ads hidden-xs">
        <div class="container"> 
         <a><img src="assets/img/ads.jpg" alt=""></a>
        </div>
      </div><!-- #BeginLibraryItem "/Library/header-afterlogin.lbi" -->
<header class="header">
  <div data-role="sticky">
    <div class="advance-search">
      <div class="search-action">
        <div class="container">
          <div class="input-group input-group-lg ">
            <div class="relative input-group-lg">
              <input type="text" class="form-control" placeholder="Batman">
              <a class="clear-input">Clear</a> </div>
            <div class="input-group-btn dropdown">
              <button type="button" class="btn btn-default showText dropdown-toggle input-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Cosplays <span class="caret"></span> </button>
              <ul class="dropdown-menu dropdown-menu-right dropdown-slected">
                <li><a>Cosplays</a></li>
                <li><a>Media</a></li>
                <li><a>What´s New</a></li>
                <li><a>Groups</a></li>
                <li><a>Users</a></li>
                <li><a>Graphic Novel</a></li>
                <li><a>Art Gallery</a></li>
                <li><a>Videos</a></li>
              </ul>
              <button type="button" class="btn btn-orange hidden-xs" onclick="location.href='../html/search-costumes.html'">SEARCH</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header"> <a class="navbar-brand" href="index.html"><img alt="Brand" src="assets/img/logo.svg" class="svg"></a> </div>
        <div class="navbar-user" data-toggle="userDropdown">
          <button type="button" class="navbar-toggle visible-xs"><i class="mdi md-20 mdi-dots-vertical"></i></button>
          <a data-toggle="advanceSearch" class="search-icon"><i class="mdi md-24 mdi-magnify"></i></a>
          <ul class="nav navbar-nav user-nav">
            <li><a class="dropdown-toggle" data-toggle="dropdown"><i class="mdi mdi-cloud-upload"></i><span>Upload</span></a>
               <ul class="dropdown-menu dropdown-menu-right dropdown-upload">
                <li><a href="add-costumes.html">Cosplays</a></li>
                <li><a href="create-album.html">Media</a></li>
                <li><a href="">Article</a></li>
                <li><a href="create-novels.html">Graphic Novel</a></li>
                <li><a href="create-arts.html">Art Gallery</a></li>
                <li><a href="create-videos.html">Videos</a></li>
               </ul>
            </li>
            <li class="visible-xs"><a href="message.html"><i class="mdi mdi-email"></i><span class="badge">2</span>Messages</a></li>
            <li class="visible-xs"><a href="profile-notification.html"><i class="mdi mdi-bell"></i><span class="badge">16</span>Notifications</a></li>
            <li class="hidden-xs"> <a class="dropdown-toggle has-notif" data-toggle="dropdown"><i class="mdi mdi-bell"></i><span class="badge">16</span><span>Notifications</span></a>
              <div class="dropdown-menu dropdown-menu-right dropdown-large bgcolor-default-lt secondary-text" role="menu" data-dropdown="onhold">
                <div role="tabpanel">
                  <ul class="nav nav-tabs nav-tabs-justified navbar-tabs" id="notificationTab">
                    <li class="active"><a data-toggle="tab" href="#notifications">NOTIFICATIONS</a></li>
                    <li><a data-toggle="tab" href="#message">MESSAGES</a></li>
                  </ul>
                  <div class="tab-content">
                    <div id="notifications" class="tab-pane fade in active">
                    	 <div class="mCustomScrollbar scrollbox">	
                         <ul class="media-list media-list-striped">
                           <li class="media">
                             <div class="media-left media-middle"> <a href="#"><img src="assets/img/thumb54x54.jpg" class="img-rounded" width="36" height="36" alt=""/></a> </div>
                             <div class="media-body">
                               <div><a class="link-text">Spector Steel</a> <span class="light-gray">Cosplay Party information for</span> Joshua</div>
                               <span class="light-gray">3 hrs ago</span> </div>
                           </li>
                           <li class="media">
                             <div class="media-left media-middle"> <a href="#"><img src="assets/img/thumb54x54.jpg" class="img-rounded" width="36" height="36" alt=""/></a> </div>
                             <div class="media-body">
                               <div><a class="link-text">Tonia Baxton</a> <span class="light-gray">wants more 
                                 information for Venue Details For </span> For 
                                 Cosplay Party </div>
                               <span class="light-gray">6 hrs ago</span> </div>
                           </li>
                           <li class="media">
                             <div class="media-left media-middle"> <a href="#"><img src="assets/img/thumb54x54.jpg" class="img-rounded" width="36" height="36" alt=""/></a> </div>
                             <div class="media-body">
                               <div><a class="link-text">Raymond</a> <span class="light-gray">wants more information for </span>Zombie Tea Party</div>
                               <span class="light-gray">10 hrs ago</span> </div>
                           </li>
                           <li class="media">
                             <div class="media-left media-middle"> <a href="#"><img src="assets/img/thumb54x54.jpg" class="img-rounded" width="36" height="36" alt=""/></a> </div>
                             <div class="media-body">
                               <div><a class="link-text">Box Boy</a> <span class="light-gray">wants more information for Venue Details For</span> Cosplay Party
                                 Part 2 </div>
                               <span class="light-gray">6 hrs ago</span> </div>
                           </li>
                           <li class="media">
                             <div class="media-left media-middle"> <a href="#"><img src="assets/img/thumb54x54.jpg" class="img-rounded" width="36" height="36" alt=""/></a> </div>
                             <div class="media-body">
                               <div><a class="link-text">Spector Steel</a> <span class="light-gray">Cosplay Party information for</span> Joshua</div>
                               <span class="light-gray">3 hrs ago</span> </div>
                           </li>
                           <li class="media">
                             <div class="media-left media-middle"> <a href="#"><img src="assets/img/thumb54x54.jpg" class="img-rounded" width="36" height="36" alt=""/></a> </div>
                             <div class="media-body">
                               <div><a class="link-text">Tonia Baxton</a> <span class="light-gray">wants more 
                                 information for Venue Details For </span> For 
                                 Cosplay Party </div>
                               <span class="light-gray">6 hrs ago</span> </div>
                           </li>
                           <li class="media">
                             <div class="media-left media-middle"> <a href="#"><img src="assets/img/thumb54x54.jpg" class="img-rounded" width="36" height="36" alt=""/></a> </div>
                             <div class="media-body">
                               <div><a class="link-text">Raymond</a> <span class="light-gray">wants more information for </span>Zombie Tea Party</div>
                               <span class="light-gray">10 hrs ago</span> </div>
                           </li>
                           <li class="media">
                             <div class="media-left media-middle"> <a href="#"><img src="assets/img/thumb54x54.jpg" class="img-rounded" width="36" height="36" alt=""/></a> </div>
                             <div class="media-body">
                               <div><a class="link-text">Box Boy</a> <span class="light-gray">wants more information for Venue Details For</span> Cosplay Party
                                 Part 2 </div>
                               <span class="light-gray">6 hrs ago</span> </div>
                           </li>
                         </ul>
                      </div>
                      <div class="dropdown-footer"><a class="btn-link" href="profile-notification.html">View All</a></div>
                    </div>
                    <div id="message" class="tab-pane fade">
                      <div class="nodata-panel">
                        <div class="nodata-body"> <i><img src="assets/img/nodata-icon-gray.png" width="60" height="60" alt=""/></i>
                          <h4>Missing information</h4>
                          <small class="font-basic font-normal">Lorem ipsum <a class="link-text">Link</a> is a dummy text.</small> </div>
                      </div>
                      <div class="dropdown-footer"><a class="btn-link" href="message.html">View All</a></div>
                    </div>                    
                  </div>                  
                </div>
              </div>
            </li>
            <li> <a class="user-pic dropdown-toggle hidden-xs" data-toggle="dropdown"><img src="assets/img/thumb-40x40.jpg" width="40" height="40" alt="" class="img-circle"></a>
              <ul class="dropdown-menu dropdown-menu-right profile-nav">
                <li><a href="user-profile.html"><i class="md-18 mdi mdi-account-circle"></i>My Profile</a></li>
                <li><a href="costumes.html"><i class="icon-costumes"></i>My Cosplays</a></li>
                <li><a href="galleries.html"><i class="md-18 mdi mdi-image-area"></i>My Media</a></li>
                <li><a href=""><i class="md-18 mdi mdi-account-multiple"></i> My Groups</a></li>
                <li><a href="my-videos.html"><i class="md-18 mdi mdi-video"></i> My Videos</a></li>
                <li><a href="my-arts.html"><i class="md-18 mdi mdi-file-document"></i> My Articles</a></li>
                <li><a href="my-novels.html"><i class="md-18 mdi mdi-account-multiple"></i>My Graphic Novels</a></li>
                <li><a><i class="md-18 mdi mdi-account-multiple"></i>My Art Gallery</a></li>
					 <li><a><i class="md-18 mdi mdi-message-processing"></i>My Wall</a></li>
                <li><a href="invite-friends.html"><i class="md-18 mdi mdi-account-plus"></i>Invite Friends</a></li>
                <li><a href="edit-profile.html"><i class="md-18 mdi mdi-settings"></i>Settings</a></li>
                <li><a href="notification-settings.html"><i class="md-18 mdi mdi-settings"></i>Notification Settings</a></li>
                <li><a href="signup.html"><i class="md-18 mdi mdi-power"></i>Logout</a></li>
              </ul>              
            </li>
          </ul>
        </div>
        <div class="navbar-link">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="whatsNew.html">What’s New</a></li>
              <li><a  href="costumes.html">Cosplays</a></li>
              <li><a href="art-gallery.html">Art Gallery</a></li>
              <li><a href="novel.html">Graphic Novel</a></li>
              <li class="dropdown sub-navbar"><a class="dropdown-toggle" data-toggle="dropdown">More <span class="caret"></span></a>
               <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="events.html">Conventions</a></li>  
                  <li><a href="activity-stream.html">Community Wall</a></li>                
                  <li><a>Groups</a></li>                                  
                  <li><a href="gallery.html">Media</a></li>       
                  <li><a href="videos.html">Videos</a></li> 
                  <li><a href="forum.html">Forum</a></li>                
               </ul>
              </li>
            </ul>
          </div>
          <!--/.navbar-collapse --> 
        </div>
      </div>
    </nav>
  </div>
</header><!-- #EndLibraryItem --><section class="main-section" data-height="fullheight">
   <div class="page-content">
      <div class="gallery-region">
        <div class="container">
          <div class="col-sm-12">
              <div class="gallery-media">
                <div class="actionWrap-ctrl">
                   <div class="actions">
                      <div class="hiddendiv"><input type="file" id="uploadWall"></div>
                      <a class="btn-square mdi mdi-pencil" onclick="$('#uploadWall').trigger('click');"></a>
                      <a class="btn-square mdi mdi-delete"></a>
                   </div>
                </div> 
                <div class="media"> 
                  <div class="media-left media-middle"> 
                    <a href="#"><img src="assets/img/thumb-130x130.jpg" width="60" height="60" alt="" class="img-circle"> </a> 
                  </div> 
                  <div class="media-body media-middle "> 
                    <h4 class="media-heading medium">Custome Motorcycles</h4> 
                    <p><span class="gray-clr">Published by</span> <a>seilo</a></p> 
                  </div> 
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
           <div class="col-sm-12">
            <div class="sort-desc">
             <p><span class="medium">8 Pages </span> <span class="gray-clr">| 19th Feb 2016 </span> </p>
             <p>Novels</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12">            
            <ul class="unstyled drag-thumb" id="sortable">
              <li class="wow fadeInLeft">
                <div class="thumbnail thumbnail-drag">
                  <div class="thumb-image">
                    <a class="btn btn-default" data-toggle="modal" data-target="#mediaPopup">VIEW</a>	
                    <a class="mdi mdi-cursor-move drag-icon" data-toggle="tooltip" data-placement="right" title="Drag to rearrange page position"></a>
                    <img src="assets/img/thumb-default-228x164.jpg" width="228" height="164" alt="">                      
                    <div class="image-overlay"></div>                                      
                  </div>
                  <div class="caption-edit">
                     <input type="text" class="form-control wider" value="The Witcher 3’s Ciri...">    
                     <a class="mdi mdi-pencil rename-screen" data-toggle="tooltip" data-placement="top" title="Edit"></a>
                  </div>
                </div>
              </li>
              <li class="wow fadeInLeft" data-wow-delay="0.1s">
                <div class="thumbnail thumbnail-drag">
                  <div class="thumb-image">
                    <a class="btn btn-default">VIEW</a>	
                    <a class="mdi mdi-cursor-move drag-icon" data-toggle="tooltip" data-placement="right" title="Drag to rearrange page position"></a>
                    <img src="assets/img/novel-01.jpg" width="229" height="154" alt="">                      
                    <div class="image-overlay"></div>                                      
                  </div>
                  <div class="caption-edit">
                     <input type="text" class="form-control wider" value="The Witcher 3’s Ciri...">    
                     <a class="mdi mdi-pencil rename-screen" data-toggle="tooltip" data-placement="top" title="Edit"></a>
                  </div>
                </div>
              </li>
              <li class="wow fadeInLeft" data-wow-delay="0.2s">
                <div class="thumbnail thumbnail-drag">
                  <div class="thumb-image">
                    <a class="btn btn-default">VIEW</a>	
                    <a class="mdi mdi-cursor-move drag-icon" data-toggle="tooltip" data-placement="right" title="Drag to rearrange page position"></a>
                    <img src="assets/img/novel-02.jpg" width="229" height="154" alt="">                      
                    <div class="image-overlay"></div>                                      
                  </div>
                  <div class="caption-edit">
                     <input type="text" class="form-control wider" value="The Witcher 3’s Ciri...">    
                     <a class="mdi mdi-pencil rename-screen" data-toggle="tooltip" data-placement="top" title="Edit"></a>
                  </div>
                </div>
              </li>
              <li class="wow fadeInLeft" data-wow-delay="0.3s">
                <div class="thumbnail thumbnail-drag">
                  <div class="thumb-image">
                    <a class="btn btn-default">VIEW</a>	
                    <a class="mdi mdi-cursor-move drag-icon" data-toggle="tooltip" data-placement="right" title="Drag to rearrange page position"></a>
                    <img src="assets/img/novel-03.jpg" width="229" height="154" alt="">                      
                    <div class="image-overlay"></div>                                      
                  </div>
                  <div class="caption-edit">
                     <input type="text" class="form-control wider" value="The Witcher 3’s Ciri...">    
                     <a class="mdi mdi-pencil rename-screen" data-toggle="tooltip" data-placement="top" title="Edit"></a>
                  </div>
                </div>
              </li>
              <li class="wow fadeInLeft ">
                <div class="thumbnail thumbnail-drag">
                  <div class="thumb-image">
                    <a class="btn btn-default">VIEW</a>	
                    <a class="mdi mdi-cursor-move drag-icon" data-toggle="tooltip" data-placement="right" title="Drag to rearrange page position"></a>
                    <img src="assets/img/novel-04.jpg" width="229" height="154" alt="">                      
                    <div class="image-overlay"></div>                                      
                  </div>
                  <div class="caption-edit">
                     <input type="text" class="form-control wider" value="The Witcher 3’s Ciri...">    
                     <a class="mdi mdi-pencil rename-screen" data-toggle="tooltip" data-placement="top" title="Edit"></a>
                  </div>
                </div>
              </li>
              <li class="wow fadeInLeft" data-wow-delay="0.1s">
                <div class="thumbnail thumbnail-drag">
                  <div class="thumb-image">
                    <a class="btn btn-default">VIEW</a>	
                    <a class="mdi mdi-cursor-move drag-icon" data-toggle="tooltip" data-placement="right" title="Drag to rearrange page position"></a>
                    <img src="assets/img/novel-01.jpg" width="229" height="154" alt="">                      
                    <div class="image-overlay"></div>                                      
                  </div>
                  <div class="caption-edit">
                     <input type="text" class="form-control wider" value="The Witcher 3’s Ciri...">    
                     <a class="mdi mdi-pencil rename-screen" data-toggle="tooltip" data-placement="top" title="Edit"></a>
                  </div>
                </div>
              </li>
              <li class="wow fadeInLeft" data-wow-delay="0.2s">
                <div class="thumbnail thumbnail-drag">
                  <div class="thumb-image">
                    <a class="btn btn-default">VIEW</a>	
                    <a class="mdi mdi-cursor-move drag-icon" data-toggle="tooltip" data-placement="right" title="Drag to rearrange page position"></a>
                    <img src="assets/img/novel-02.jpg" width="229" height="154" alt="">                      
                    <div class="image-overlay"></div>                                      
                  </div>
                  <div class="caption-edit">
                     <input type="text" class="form-control wider" value="The Witcher 3’s Ciri...">    
                     <a class="mdi mdi-pencil rename-screen" data-toggle="tooltip" data-placement="top" title="Edit"></a>
                  </div>
                </div>
              </li>
              <li class="wow fadeInLeft" data-wow-delay="0.3s">
                <div class="thumbnail thumbnail-drag">
                  <div class="thumb-image">
                    <a class="btn btn-default">VIEW</a>	
                    <a class="mdi mdi-cursor-move drag-icon" data-toggle="tooltip" data-placement="right" title="Drag to rearrange page position"></a>
                    <img src="assets/img/novel-03.jpg" width="229" height="154" alt="">                      
                    <div class="image-overlay"></div>                                      
                  </div>
                  <div class="caption-edit">
                     <input type="text" class="form-control wider" value="The Witcher 3’s Ciri...">    
                     <a class="mdi mdi-pencil rename-screen" data-toggle="tooltip" data-placement="top" title="Edit"></a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div> 
        <div class="loader-more">
          <span>loading</span>
          <i class="loader"></i>
        </div>
      </div>
   </div>
   <div class="ads">
      <div class="container"> 
         <a><img src="assets/img/ads.jpg" alt=""></a>
      </div>
   </div>
</section><!-- #BeginLibraryItem "/Library/footer.lbi" -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <ul class="nav nav-pills">
          <li><a href="about-us.html"> About Us </a></li>
          <li><a href="privacypolicy.html"> Privacy Policy </a></li>
          <li><a href="contact.html"> Contact Us </a></li>
        </ul>
      </div>
      <div class="col-md-5">
        <ul class="social-icons">
          <li><a class="md-light md-18 mdi mdi-facebook"></a></li>
          <li><a class="md-light md-18 mdi mdi-twitter"></a></li>
          <li><a class="md-light md-18 mdi mdi-google-plus"></a></li>
          <li><a class="md-light md-18 mdi mdi-linkedin"></a></li>
          <li><a class="md-light md-18 mdi mdi-pinterest"></a></li>
          <li><a class="md-light md-18 mdi mdi-youtube-play"></a></li>
          <li><a class="md-light md-18 mdi mdi-instagram"></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7"><span class="copyright">Copyright 2015 All Rights Resrved</span></div>
    </div>
  </div>
</footer>
<!-- #EndLibraryItem --><!-- Theater Popup -->
<section class="media-popup modal fade in" tabindex="-1" id="mediaPopup" keyboard="false"  role="dialog" aria-hidden="true" data-ng-controller="mediapopupController">
  <div class="media-popup-content">
      <aside class="media-left">
          <div class="media-left-content">
              <div class="table-row-img-view">
                  <div class="media-img-view">
                    <div class="image-content" id="inverted-contain">                        
                        <div class="media-icon">
                           <a class="icon-th-zoomOut zoom-out"></a>
                           <a class="icon-th-zoomIn zoom-in"></a>
                           <a class="icon-th-reset reset"></a>                           
                        	<a class="icon-th-fullscreen hidden-xs" data-ng-click="toggleFullScreen();"></a>
                           <a class="icon-th-close" data-dismiss="modal"></a>
                         </div>

                        <i class="icon-th-next" ng-click="ViewNext();"></i>
                        <i class="icon-th-prev" ng-click="ViewPrev();"></i> 
                        <div class="xmedea-image" >
                          <img class="panzoom" ng-src="assets/img/lightbox/{{postedPic}}" alt="">
                        </div>
                      </div>
                  </div>
              </div> 

              <div class="table-row-info-view">
                  <div class="media-info">
                      <div class="col-sm-5 col-md-6">
                          <div class="user-thmb-th pull-left hidden-xs"><img ng-src="assets/img/{{ownerThumb}}" alt=""> </div>
                          <div class="media-detail">
                            <a class="hidden-xs">{{postedUser}}</a><span class="dotsep hidden-xs">.</span><label>My Album</label>  <span>{{currentPicIndex+1}} of {{GallarySize}}</span>
                          </div>
                      </div> 
                      <div class="col-sm-7 col-md-6">
                          <ul class="count-list-withIcn hidden-xs">
                              <li class="item">  
                                <a class="selected" data-target="#loginModal" data-toggle="modal">
                                <i class="mdi mdi-eye"></i>
                                <span class="title">200</span>
                                </a>
                              </li>
                              <li class="item">  
                                <a data-target="#loginModal" data-toggle="modal">
                                <i class="mdi mdi-thumb-up"></i>
                                <span class="title">500</span>
                                </a>
                              </li>
                              <li class="item">  
                                <a data-target="#loginModal" data-toggle="modal">
                                <i class="mdi mdi-thumb-down"></i>
                                <span class="title">05</span>
                                </a>
                              </li>
                              <li class="item">  
                                <a data-target="#loginModal" data-toggle="modal">
                                <i class="mdi mdi-comment-processing"></i>
                                <span class="title">100</span>
                                </a>
                              </li>
                              <li class="item"><a data-target="#loginModal" data-toggle="modal"><i class="mdi mdi-heart"></i></a></li>
                              <li class="item">  
                                <a data-target="#loginModal" data-toggle="modal"><i class="mdi mdi-share-variant"></i></a>
                              </li>
                              <li class="item">  
                                <a data-target="#reportAbuse" data-toggle="modal">
                                <i class="mdi mdi-flag"></i>
                                <span class="title hide">Report Abuse</span>
                                </a>
                              </li>
                            </ul>
                      </div>
                  </div>
              </div>

          </div>
      </aside>


      <aside class="media-right">
        <div class="media-right-content" data-type="write-comment">
           <div class="post-region">
              <div class="post-view">
                 <ul class="listing">
                    <li>
                      <a class="avtar-48"><img ng-src="assets/img/{{ownerThumb}}" alt=""> </a>
                      <div class="user-name"><a class="semi-bold">{{postedUser}}</a> tagged <a class="semi-bold">Miranda Care</a></div>
                      <div class="time-and-privacy">
                          <ul class="list-sub-nav">
                            <li><span class="time-ago">{{timePosted}}</span> </li>
                            <li>
                              <div class="btn-group custom-icondrop "> 
                                <a class="dropdown-toggle drop-icon" data-toggle="dropdown"> 
                                <i class="mdi mdi-account-multiple md-20 md-dark"></i><span class="caret"></span></a>
                                <ul class="dropdown-menu dropdown-withicons dropdown-menu-right" role="menu">
                                  <li><a>Everyone</a></li>
                                  <li><a>Adult Only</a></li>
                                </ul>
                              </div>
                            </li>
                          </ul> 
                      </div> 
                    </li>
                 </ul>
                 <div class="post-content-view">
                   <p>{{postedContent}}</p> 
                      <div><a>@Amit Hinduja</a></div>
                 </div>                 
                <ul class="count-list-withIcn">
                  <li class="item">  
                    <a class="selected" data-target="#loginModal" data-toggle="modal">
                    <i class="mdi mdi-eye"></i>
                    <span class="title">200</span>
                    </a>
                  </li>
                  <li class="item">  
                    <a data-target="#loginModal" data-toggle="modal">
                    <i class="mdi mdi-thumb-up"></i>
                    <span class="title">500</span>
                    </a>
                  </li>
                  <li class="item">  
                    <a data-target="#loginModal" data-toggle="modal">
                    <i class="mdi mdi-thumb-down"></i>
                    <span class="title">05</span>
                    </a>
                  </li>
                  <li class="item">  
                    <a data-target="#loginModal" data-toggle="modal">
                    <i class="mdi mdi-comment-processing"></i>
                    <span class="title">100</span>
                    </a>
                  </li>
                  <li class="item"><a data-target="#loginModal" data-toggle="modal"><i class="mdi mdi-heart"></i></a></li>
                  <li class="item">  
                    <a data-target="#loginModal" data-toggle="modal"><i class="mdi mdi-share-variant"></i></a>
                  </li>
                  <li class="item">  
                    <a data-target="#reportAbuse" data-toggle="modal">
                    <i class="mdi mdi-flag"></i>
                    <span class="title hide">Report Abuse</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div data-type="postRegion">
              <div class="people-like-this">
                <i class="mdi mdi-thumb-up md-18"></i><a>Rupal Juneja</a> and <a>40 others</a>
              </div>
              <div class="view-comment">
                <div class="view-all-comment" ng-if="commentList.length >= 20"><a>View all {{commentList.length}} comments</a></div>
                <div class="comment-listing"> 
                    <ul class="listing">
                        <li  ng-repeat="comment in commentList track by $index">
                            <a class="avtar-48" data-target="#systemDicisionAlert" data-toggle="modal"><img ng-src="assets/img/{{comment.userThmb}}" alt=""> </a>
                            <div class="user-name">
                                <a class="semi-bold" data-target="#LikeModal" data-toggle="modal" >{{comment.userName}}</a> {{comment.commentView}}
                            </div>
                            <div class="media-post" style="display:none;"><img src="assets/img/post-dummy.jpg" alt=""> </div>
                            <div class="time-and-privacy">
                                <ul class="list-sub-nav">
                                  <li><span class="time-ago">{{comment.commentTime}}</span> </li> 
                                  <li><a>Like</a></li> 
                                  <li><i class="mdi mdi-thumb-up md-16"></i> <span class="color-light">50</span></li>
                                </ul> 
                            </div> 
                            <a href="javascript:void(0);" class="delete-current-post" ng-click="DeleteComment($index)"><i class="mdi mdi-close"></i></a>
                        </li> 
                     </ul> 
                 </div> 
              </div>  
              </div>
          </div>
           <div class="post-view-footer" data-type="write-footer"> 
                 
                  <div class="post-write-block">
                      <div class="write-comment">
                          <textarea name="write-comment" data-type="autoSize" class="auto-size" placeholder="Write Comment" ng-model="chatMessage" 
                          ng-keypress="($event.which === 13)?sendMessage():0; mediaRightcommentscrl();"  ></textarea>
                      </div>
                      <div class="upload-media-in-comment">
                          <i class="md-28 mdi mdi-camera" onClick="$('.attached-post').show(); $('.upload-media-in-comment').hide();"><input type="file"></i>
                      </div>
                      <div class="attached-post" style="display:none;">
                        <i class="mdi md-14 mdi-close"></i>
                        <img src="assets/img/post-dummy.jpg" alt="">
                      </div>
                       
                  </div> 
              </div>
        </div>  

      </aside>



  </div>
</section>
<!--/ Theater Popup -->
<div id="systemDicisionAlert" class="modal fade z-index-larger" data-modal="middle" role="dialog">
 <div class="modal-dialog">          
    <div class="modal-content clearfix">          
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">
          <i class="mdi mdi-close md-30" aria-hidden="true"></i>
         </button> 
         <h4 class="modal-title">Confirm?</h4>
      </div>
       <div class="modal-body">
         <p>Are you sure, you want to delete this post ?</p>
       </div>
       <div class="modal-footer">
         <button type="submit" class="btn btn-orange" data-dismiss="modal">YES</button>
         <button type="submit" class="btn btn-primary" data-dismiss="modal">NO</button>
      </div>
    </div>
 </div>
</div>

<div id="LikeModal" class="modal fade z-index-larger" data-modal="middle" role="dialog">
 <div class="modal-dialog">          
    <div class="modal-content clearfix">          
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">
          <i class="mdi mdi-close md-30" aria-hidden="true"></i>
         </button> 
         <h4 class="modal-title">Likes</h4>
      </div>
       <div class="modal-body">
        <div class="mCustomScrollbar medialist-scroller">
          <ul class="listing-view listing-secondary">
             <li class="list-group-item">
                <div class="list-content with-thumb">
                   <a class="img-circle"><img title="" alt="" src="assets/img/thumb-48x48.jpg"></a>
                   <div>
                      <a href="javascript:void(0);" class="name">Cris Jhon Jhonson</a>
                   </div>
                   <div class="text-14">Indore, India</div>
                </div>
             </li>
             <li class="list-group-item">
                <div class="list-content with-thumb">
                   <a class="img-circle"><img title="" alt="" src="assets/img/thumb-48x48.jpg"></a>
                   <div>
                      <a href="javascript:void(0);" class="name">Cris Jhon Jhonson</a>
                   </div>
                   <div class="text-14">Indore, India</div>
                </div>
             </li>
             <li class="list-group-item">
                <div class="list-content with-thumb">
                   <a class="img-circle"><img title="" alt="" src="assets/img/thumb-48x48.jpg"></a>
                   <div>
                      <a href="javascript:void(0);" class="name">Cris Jhon Jhonson</a>
                   </div>
                   <div class="text-14">Indore, India</div>
                </div>
             </li>
             <li class="list-group-item">
                <div class="list-content with-thumb">
                   <a class="img-circle"><img title="" alt="" src="assets/img/thumb-48x48.jpg"></a>
                   <div>
                      <a href="javascript:void(0);" class="name">Cris Jhon Jhonson</a>
                   </div>
                   <div class="text-14">Indore, India</div>
                </div>
             </li>
             <li class="list-group-item">
                <div class="list-content with-thumb">
                   <a class="img-circle"><img title="" alt="" src="assets/img/thumb-48x48.jpg"></a>
                   <div>
                      <a href="javascript:void(0);" class="name">Cris Jhon Jhonson</a>
                   </div>
                   <div class="text-14">Indore, India</div>
                </div>
             </li>
          </ul>
         </div>
       </div>
    </div>
 </div>
</div>

<div id="reportAbuse" class="modal fade z-index-larger" data-modal="middle" role="dialog">
 <div class="modal-dialog">          
    <div class="modal-content clearfix">          
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">
          <i class="mdi mdi-close md-30" aria-hidden="true"></i>
         </button> 
         <h4 class="modal-title">Flag Reason</h4>
      </div>
       <div class="modal-body">
        <form id="resetPasswordForm" class="custom-alert" role="form">
          <div class="alert message-popup" id="FlagReasonError">
            <div class="content-alert">
              <a class="close-alert pull-right" rel=""><i class="mdi mdi-close md-20"></i></a> 
              <span class="popup-message">Warning message !</span>
            </div>
          </div>
          <div class="row" id="flagReasonAdultContent">
              <div class="col-sm-12">
                  <div class="form-group" data-error="has-error">
                      <span class="checkbox">
                          <label>
                              <input type="checkbox" name="flagReason" id="flagReason1" value="Using Adult Content" class="reportAbuseDesc"><span class="checkbox-material"><span class="check"></span></span>
                              Using Adult Content
                          </label>
                      </span>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-12">
                  <div class="form-group" data-error="has-error">
                      <span class="checkbox">
                          <label>
                              <input type="checkbox" name="flagReason" id="flagReason2" value="Abusive Content" class="reportAbuseDesc"><span class="checkbox-material"><span class="check"></span></span>
                              Abusive Content
                          </label>
                      </span>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-12">
                  <div class="form-group" data-error="has-error">
                      <span class="checkbox">
                          <label>
                              <input type="checkbox" name="flagReason" id="flagReason3" value="Using My Details" class="reportAbuseDesc"><span class="checkbox-material"><span class="check"></span></span>
                              Using My Details
                          </label>
                      </span>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-12">
                  <div class="form-group" data-error="has-error">
                      <span class="checkbox">
                          <label>
                              <input type="checkbox" name="flagReason" id="flagReason4" value="Spam On My Profile" class="reportAbuseDesc"><span class="checkbox-material"><span class="check"></span></span>
                              Spam On My Profile
                          </label>
                      </span>
                  </div>
              </div>
          </div>
      </form>
       </div>
       <div class="modal-footer">
         <button class="btn btn-orange btn-medium" data-ng-click="flagUserOrActivity()">
              <i class="loader btn-loader"></i>
              SUBMIT
          </button>
      </div>
    </div>
 </div>
</div>


		<script src="assets/js/vendor/jquery-1.11.2.min.js"></script>
      <script src="assets/js/vendor/jquery-ui.min.js"></script>  
		<script src="assets/js/vendor/bootstrap.min.js"></script> 
      <script src="assets/lib/angular.min.js"></script> 
      <script src="assets/js/mCustomScrollbar.js"></script> 
      <script src="assets/js/jquery.panzoom.js"></script> 
      <script src="assets/js/plugins.js"></script> 
      <script src="assets/js/main.js"></script>
      
       <!--ApplicationJS--> 
      <script src="assets/app/app.js"></script> 
      <script src="assets/app/mediaPopup.js"></script> 
      
      <script>
        $(document).ready(function() {
          // Seconday Nav Active
          secondaryNav(4);   
          //Wow Js
          new WOW().init(); 
          //Drag n drop
          $( "#sortable" ).sortable({
            containment: '#sortable'
          });
			 //Tooltip
			  $('[data-toggle="tooltip"]').tooltip();
			  
        });  
		  
		  (function() {
          var $section = $('#inverted-contain');
			 
          $section.find('.panzoom').panzoom({
            $zoomIn: $section.find(".zoom-in"),
            $zoomOut: $section.find(".zoom-out"),
            $reset: $section.find(".reset"),
            startTransform: 'scale(0.8)',
            increment: 0.2,
            minScale: 1,
            contain: 'invert'
          }).panzoom('zoom');
        })();
		  
      </script> 
   </body>
</html>